<a href="https://colab.research.google.com/github/Bayhaqieee/GDG_ML_Learning/blob/main/Data_Analysis_Library.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Analysis Library Introduction
------------------------------------
##Data Management Library

Untuk mendukung proses pengolahan dan analisis data, Python memiliki banyak libraries dan tools yang bersifat open-source dan dapat digunakan secara bebas.

Berikut merupakan tiga libraries yang paling sering digunakan untuk mengolah data.

------------------------------------

##NumPy

NumPy (singkatan dari *numerical Python*) merupakan salah satu library Python yang sangat powerful untuk membuat dan mengolah *multi-dimensional arrays* (sering juga disebut sebagai matriks atau tensor).

-----------------------------------------

Perlu ingat bahwa NumPy bukan merupakan **Library bawaan Python** sehingga perlu diinstal terlebih dahulu. Anda dapat menginstal NumPy menggunakan package manager seperti `!pip` ataupun `conda`.

In [1]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (1.26.4)

In [4]:
import numpy as np
array_1 = np.array([2, 3, 6, 5])
array_1

array([2, 3, 6, 5])

Untuk mendukung tujuan tersebut, NumPy hadir dengan banyak fungsi bawaan yang memungkinkan kita untuk melakukan berbagai macam operasi matematis mulai dari yang sederhana hingga kompleks, seperti *basic linear algebra, random simulation, Fourier transforms*, dll.

In [9]:
# Perform operations on the array
print("This command will add 2 on every Element : ", array_1 + 2)  # Add 2 to each element
print("This command will Multiply 3 on every Element : ", array_1 * 3)  # Multiply each element by 3
print("This command will summing all array : ", array_1.sum())  # Calculate the sum of all elements

This command will add 2 on every Element :  [4 5 8 7]
This command will Multiply 3 on every Element :  [ 6  9 18 15]
This command will asumming all array :  16

##Pandas
Selain **NumPy**, library lain yang sering digunakan adalah **pandas**. Ia merupakan library Python yang spesifik digunakan untuk memanipulasi dan menganalisis data. Library inilah yang akan kita gunakan sebagai tool utama dalam menganalisis data.


-------------------------------

Sama halnya dengan **NumPy**, **pandas** juga bukan library bawaan Python sehingga perlu diinstal terlebih dahulu. Anda dapat menginstal pandas dengan menjalankan salah satu perintah berikut.

In [6]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [11]:
import pandas as pd

# Create a Pandas DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 28],
        'City': ['New York', 'London', 'Paris']}
df = pd.DataFrame(data)
print(df)

# Access data in the DataFrame
df = pd.DataFrame(data)
df
print("")
print(df.iloc[0])  # Access the first row

      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   28     Paris

Name       Alice
Age           25
City    New York
Name: 0, dtype: object